/*======== CASE STUDY PAGE (GENERAL) ========*/
.case-study-page p, .case-study-page li{
    font-size: 1.1rem;
}
.case-study-page h1 {
    font-size: 3rem;
}
.case-study-page h2 {
    font-size: 3.2rem;
    padding-bottom: 1rem;
}
.case-study-page h3 {
    font-size: 2rem;
}
.intro-section {
    width: 75%;
    padding: 60px 0px;
}
.gray-client-page .dark-bg {
    background-color: #e5e5e5;
    color: #000;
}
.disclaimer {
    padding-top: 40px;
}
.objectives {
    padding-bottom: 10px;
}
.flex-btns {
    display: flex;
    column-gap: 20px;
    justify-content: center;
    padding-top: 40px;
}
.intro-section .flex-btns {
    justify-content: left;
}
.case-study-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    row-gap: 40px;
}
.case-study-grid-reverse {
    display: flex;
    column-gap: 40px;
    row-gap: 40px;
    align-items: end;
}
.grid-text img {
    max-width: 450px;
}
.grid-imgs {
    display: flex;
    column-gap: 40px;
    row-gap: 40px;
    justify-content: center;
    align-items: flex-end;
}
.double-img img {
    max-width: 400px;
    height: auto;
}
.single-img img {
    max-width: 700px;
    height: auto;
}
.prototyping img, .styling img {
    border: 0.5px solid #000;
}
.prototyping, .styling, .bringing-tog {
    padding: 100px 40px;
}
.flex-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 517px;
}
.final-section {
    text-align: center;
    padding: 100px 0px;
}
.final-section .flex-btns {
    align-items: center;
}



@media only screen and (max-width: 1380px) {
    .list {
        text-align: center;
    }
    .list ul {
        display: inline-block;
        text-align: left;
    }
    .dark-bg .flex-btns {
        justify-content: center;
    }
    .flex-text {
        height: auto;
    }
    .intro-section{
        width: 100%;
    }
    .case-study-grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .case-study-grid-reverse {
        grid-template-columns: repeat(1, 1fr);
        flex-direction: column-reverse;
    }
    .case-study-page h2, .case-study-page h1, .case-study-page h3, .case-study-page p {
        text-align: center;
     }
     .components-img {
        display: none;
    }
}
@media only screen and (max-width: 900px) {
    .grid-imgs {
        flex-direction: column;
        align-items: center;
    }
    .single-img img {
        max-width: 500px;
    }
}
@media only screen and (max-width: 600px) {
    .single-img img {
        max-width: 400px;
    }
}
@media only screen and (max-width: 425px) {
    .flex-btns {
        flex-direction: column;
        padding: 40px 30px;
    }
    .grid-text h2 {
        font-size: 2rem;
    }
    .grid-imgs img {
        max-width: 280px;
    }
    .interactivity {
        max-width: 280px;
    }
    .prototyping, .styling, .bringing-tog {
        padding: 100px 5%;
    }
    .single-img img {
        max-width: 280px;
    }
}