/*======== CASE STUDY PAGE (GENERAL) ========*/
.gray-client-page .dark-bg {
    background-color: #e5e5e5;
    color: #000;
}
.artist-portfolio-page .dark-bg {
    background-color: #edebe4;
}
.portfolio-site-page .dark-bg {
    background-color: #000;
    color: #fff;
}
.case-study-page p, .case-study-page li{
    font-size: 1.1rem;
    text-align: left;
}
.case-study-page h1 {
    font-size: 3rem;
}
.case-study-page h2 {
    font-size: 3.2rem;
    padding-bottom: 1rem;
    text-align: center;
}
.case-study-page h3 {
    font-size: 2rem;
    text-align: right;
}
p.divider {
    text-align: center;
}
.case-study-page section {
    padding: 60px 0px;
}
.intro-section {
    position: relative;
}
.intro-section img {
    display: block;
    max-width: 500px;
    position: absolute;
    bottom:0;
    left:80%;
    transform:translateX(-50%);
}
.intro-section h3 {
    text-align: left;
}
.intro-section .divider {
    text-align: left;
}
.intro-section .flex-btns {
    justify-content: left;
}
.disclaimer {
    padding-top: 40px;
}
.flex-btns {
    display: flex;
    column-gap: 20px;
    justify-content: center;
    padding-top: 40px;
}
.case-study-grid {
    display: grid;
    grid-template-columns: 2fr 3fr;
    column-gap: 40px;
    row-gap: 40px;
}
.case-study-grid img {
    width: 100%;
    object-fit: contain;
}
.grid-half-sm {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.grid-half-lg {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    align-items: end;
}
.grid-half-lg img {
    width: 85%;
    object-fit: contain;
    text-align: right;
    margin-top: 20px;
}
.double-img {
    display: flex;
    flex-direction: row;
}
.double-img img {
    width: 48%;
    object-fit: contain;
    margin: 5px;
}
.user-persona-img {
    width: 100%;
    object-fit: contain;
    margin: 10px 0px;
}
.goals-block {
    border: 2px solid #000;
    border-radius: 50px;
    padding: 50px;
}
.walkthru-vid {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 51.5%;
}
.walkthru-vid iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.border-img {
    border: 1px solid #000;
}
.left-align {
    text-align: left!important;
}



@media only screen and (max-width: 1380px) {
    .intro-section .flex-btns {
        justify-content: center;
    }
    .case-study-grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .case-study-page h1, .case-study-page h2, .case-study-page h3, .case-study-page .subhead, .intro-section .divider {
        text-align: center;
    }
}
@media only screen and (max-width: 1000px) {
    .grid-half-lg {
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 250px;
    }
    .intro-section img {
        left: 50%;
    }
}
@media only screen and (max-width: 500px) {
    .grid-half-sm {
        grid-template-columns: repeat(1, 1fr);
    }
    .grid-half-lg {
        margin-bottom: 180px;
    }
    .goals-block {
        padding: 20px;
    }
}
@media only screen and (max-width: 425px) {
    .flex-btns {
        flex-direction: column;
        padding: 40px 30px;
    }
    .case-study-page h2 {
        font-size: 2.6rem;
    }
    .grid-half-lg {
        margin-bottom: 140px;
    }
}
