/*============ UNIVERSIAL & RESUSABLE STYLES ===========*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
.theme-default {
    background-color: #fff;
    color: #000;
}
.theme-default-opposite {
    background-color: #000;
    color: #fff;
}
body {
    margin: 0 auto;
    margin-top: 10vh;
    font-size: 17px;
    font-family: "montserrat", sans-serif;
    overflow-x: hidden;
}
h1 {
    text-transform: uppercase;
    font-family: "the-seasons", sans-serif;
}
h2 {
    text-transform: uppercase;
    font-size: 1.8rem;
    font-family: "the-seasons", sans-serif;
    font-weight: 600;
}
h3 {
    text-transform: uppercase;
    font-family: "the-seasons", sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
}
.center {
    text-align: center;
}
.green-txt {
    color: #80b467;
}
.white {
    color: #fff;
    background-color: transparent;
    border: #fff;
}
hr.solid {
    border: 0.5px solid;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
}
i {
    font-size: 4rem;
}
.button {
    font-family: montserrat, sans-serif;
    font-weight: 400;
    border: 1px solid #80b467;
    background-color: #80b467;
    border-radius: 50px;
    padding: 0.7rem 2rem;
    font-size: 1.1rem;
    text-align: center;
    display: inline;
    transition: all .3s;
    cursor: pointer;
}
@media only screen and (max-width: 1000px) {
    .button {
        display: block;
        margin: 15px 0;
    }
}
.button:hover {
    font-size: 1.3rem;
}
.button.theme-default {
    border: 1px solid #000;
    color:#000;
    background-color: transparent;
}
.button.white {
    border: 1px solid #fff;
    color:#fff;
    background-color: transparent;
}
.btn-container {
    height: 50px;
    position: relative;
}
.center-btn {
    width: 100%;
    position: absolute;
}
a {
    text-decoration: none;
    color: #000;
}
div.list {
    margin: 15px 0px;
}
.list li {
    margin-left: 2rem;
    list-style-type: lower-roman;
}
.indent {
    margin-left: 20px;
}
.full-height {
    min-height: 90vh;
}
.vert-center {
    display: grid;
    place-items: center;
}
#contact, #recent-work {
    scroll-margin-top: 10vh;
}
section {
    margin: 0 auto;
}
@media only screen and (min-width: 1451px) {
    section, nav, hr.nav-hr {
        width: 70%;
    }
}
@media screen and (max-width: 1450px) and (min-width: 1201px) {
    section, nav, hr.nav-hr {
        width: 80%;
    }
}
@media only screen and (max-width: 1200px) and (min-width: 50px) {
    section, nav, hr.nav-hr {
        width: 90%;
    }
}

/*============ HEADER ===========*/
header {
    position: fixed;
    background-color: #fff;
    align-content: center;
    top: 0px;
    height: 10vh;
    width: 100%;
    z-index: 5;
}
@media only screen and (min-device-width: 400px) 
                   and (max-device-width: 800px) 
                   and (orientation: landscape) {
                    header {
                        position: relative;
                    }
                    body {
                        margin-top: 0px;
                    }
                   }
nav {
    margin: 0 auto;
    padding-bottom: 10px;
}
.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
}
.logo {
    font-family: "the-seasons", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5rem;
}
.menu {display: flex;}
.menu li a {
    margin: 0px 5px;
}
.menu i {
    font-size: 2rem;
}
.mobile-only {
    display: none;
}
.open-menu, .close-menu {
    position: absolute;
    cursor: pointer;
    display: none;
}
.open-menu i, .close-menu i {
    font-size: 1.5rem;
}
.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.close-menu {
    top: 20px;
    right: 20px;
}
#check {display: none;}
@media (max-width: 700px) {
    .menu {
        flex-direction: column;
        text-align: right;
        align-items:right;
        justify-content:center;
        width: 80%;
        height: 100%;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: #000;
        color: #fff;
        transition: all .2s ease-in-out;
    }
    .mobile-only {display: block;}
    .menu li {margin-top: 60px;}
    .menu li a {
        color: #fff!important;
        text-align: right;
    }
    .open-menu, .close-menu {display: block;}
    /*#check:checked ~ .menu {right: 0;}*/
}
/*============ ABOUT ME HERO ==============*/
.hero-flexbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 60px;
}
.profile-pic {
    max-width: 425px;
    max-height: 425px;
    border-radius: 50px;
}
.signature {
    width: 300px;
}
.type-container {
    font-size: 4rem;
    font-family: "the-seasons", sans-serif;
    letter-spacing: 0.4rem;
    line-height: 3.5rem;
    text-transform: uppercase;
    font-weight: 600;
    margin: 20px 0px;
    color: #80b467;
}
.typed-cursor {
    color: #9dca87;
    padding-left: 5px;
}
.intro-subhead {
    font-family: "the-seasons", sans-serif;
    color:#80b467; 
    font-size: 1.8rem; 
    font-weight: 700; 
    margin-top: -15px;
    margin-bottom: 10px;
}
.down-arrow {
    font-size: 2rem;
    text-align: center;
}
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
}
.bounce {
    animation: bounce 1s 10 7s;
}

/* ABOUT SECTION MEDIA QUERIES */
@media only screen and (max-width: 1000px) {
    .hero-flexbox {
        flex-direction: column;
        text-align: center;
        margin: 40px 0px;
    }
    .profile-pic {
        max-width: 250px;
        max-height: 250px;
    }
    .signature {
        width: 220px;
    }
    .type-container {
        font-size: 2.1rem;
        line-height: 1.5rem;
    }
    .intro-subhead {
        font-size: 1.2rem;
    }
    i.down-arrow {
        display: none;
    }
}
/*============= RECENT WORK ===============*/
.recent-work-section {
    padding: 60px 0px;
}
.recent-work-title {
    font-family: "the-seasons", sans-serif;
    font-size: 4rem;
    padding-bottom: 30px;
}
.proj-grid {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 40px;
}
.proj-img-div {
    background-size: cover;
    background-position: center;
    border-radius: 50px;
    width: 100%;
    padding-bottom: 65%;
}
.flex-box-proj {
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    min-height: 350px;
    padding: 30px;
    width: 100%;
    margin-bottom: 40px;
    color: #fff;
    background-color: #1e1e1e;
    text-align: center;
}
.flex-box-proj h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #fff;
}
.flex-box-proj p {
    color: #fff;
}
.flex-box-proj:hover{
    transform: scale(1.04);
    transition: all 300ms ease;
}
@media only screen and (max-width: 600px) {
    .flex-box-proj {
        padding: 15px;
    }
    .recent-work-title {
        font-size: 3rem;
    }
}
.artist-portfolio-img {
    background-image: url(./images/artist-portfolio-mockup.jpg);
    background-position: bottom;
}
.travel-client-img {
    background-image: url(./images/travel_device_layout.jpg);
    background-position: bottom;
}
.developer-portfolio-img {
    background-image: url(./images/dev_portfolio_cover.jpg);
    background-position: center;
}
.mold-client-img {
    background-image: url(./images/shs_device_layout.png);
    background-position: bottom center;
}
.proj-desc {
    margin-bottom: 40px;
    display: none;
}
@media screen and (max-width: 1395px) {
    .proj-img-div {
        width: 100%;
    }
}
@media only screen and (max-width: 845px) {
    .proj-desc {
        margin-right: 20px;
    }
    .proj-grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 0px;
    }
}
/*======== MY SKILLS ==========*/
#skills {
    margin-top: 60px;
}
.skills-container {
    overflow-wrap: normal;
}
.skills-slider{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.skills-slider i {
    margin: 5rem;
    text-align: center;
}
@media only screen and (max-width: 1000px) {
    .skills-slider i {
        margin: 2rem;
    }
}
.skills-text {
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
    margin-top: 1rem;
    font-family: montserrat, sans-serif;
}
/*============== CONTACT =================*/
.contact-title {
    margin-top: 50px;
    margin-bottom: 30px;
}
.contact-box {
    border: 2px solid;
    border-radius: 50px;
    padding: 30px;
    min-height: 300px;
    align-content: center;
    width: 100%;
    margin: 10px;
}
.contact {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    margin-bottom: 50px;
    scroll-margin-top: 390px; 
}
.second-contact {
    margin-top: 80px;
}
.email {
    margin-top: 15px;
}
@media only screen and (max-width: 845px) {
    .contact {
        flex-wrap: wrap;
    }
    .contact-box {
        padding: 30px 15px 50px 15px;
    }
}
@media only screen and (min-width: 1001px) {
    
}
.fa-linkedin {
    margin-right: 20px;
}
a > i {
    transition: transform .2s;
}
a > i:hover {
    transform: scale(1.2);
}
.icon-container {
    display: flex;
    justify-content: center;
}
@media only screen and (max-width: 375px) {
    #email-btn {
        margin: 0px 0px 150px 0px;
    }
}
/*============= FOOTER =============*/
footer {
    margin: 20px 0px;
}
.footer-text {
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.sitemap-list {
    margin-left: 20px;
}