/*============ UNIVERSIAL & RESUSABLE STYLES ===========*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
.theme-default {
    background-color: #fff;
    color: #1f0f03;
}
.theme-default-opposite {
    background-color: #1f0f03;
    color: #fff;
}
body {
    margin: 0 auto;
    margin-top: 10vh;
    font-size: 17px;
    font-family: "montserrat", sans-serif;
    overflow-x: hidden;
}
h1 {
    text-transform: uppercase;
    font-family: "the-seasons", sans-serif;
}
h2 {
    text-transform: uppercase;
    font-size: 1.8rem;
    font-family: "the-seasons", sans-serif;
    font-weight: 600;
}
h3 {
    font-family: "montserrat", sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
}
.center {
    text-align: center;
}
.seasons-txt {
    font-family: "the-seasons", sans-serif;
    font-size: 1.6rem;
}
.green-txt {
    color: #80b467;
}
.white {
    color: #fff;
    background-color: transparent;
    border: #fff;
}
.dark-bg {
    background-color: #e7dbd6;
    color: #1f0f03;
}
.black-bg {
    background-color: #000;
    color: #fff;
}
.border {
    border: 1px solid #000;
}
hr.solid {
    border: 0.5px solid;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
}
.vert-align-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: space-between;
}
i {
    font-size: 4rem;
}
.button {
    font-family: montserrat, sans-serif;
    font-weight: 400;
    border: 1px solid #80b467;
    background-color: #80b467;
    border-radius: 50px;
    padding: 0.7rem 2rem;
    font-size: 1.1rem;
    text-align: center;
    display: inline;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

}
.button:hover {
    font-size: 1.3rem;
}
.button.theme-default {
    border: 1px solid #1f0f03;
    color:#1f0f03;
    background-color: transparent;
}
.button.white {
    border: 1px solid #fff;
    color:#fff;
    background-color: transparent;
}
.btn-container {
    height: 50px;
    position: relative;
}
.center-btn {
    width: 100%;
    position: absolute;
}
a {
    text-decoration: none;
    color: #1f0f03;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items:baseline;
}
.grid-half {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    row-gap: 40px;
}
.grid-half img {
    width: 100%;
    object-fit: contain;
}
.grid-2-3 {
    /*display: flex;
    gap: 40px;*/
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 40px;
    align-items: start;
}
.grid-2-3 img {
    width: 100%;
    object-fit: contain;
}
@media only screen and (max-width: 1000px) {
    .grid-2-3 {
        grid-template-columns: 1fr;
        grid-auto-flow: dense;
    }
}
div.list {
    margin: 15px 0px;
}
.list li {
    margin-left: 2rem;
    list-style-type: lower-roman;
}
.indent {
    margin-left: 20px;
}
.full-height {
    min-height: 90vh;
}
.vert-center {
    display: grid;
    place-items: center;
}
#contact, #recent-work {
    scroll-margin-top: 10vh;
}
section {
    margin: 0 auto;
}
@media only screen and (min-width: 1451px) {
    section, nav, hr.nav-hr {
        width: 70%;
    }
}
@media screen and (max-width: 1450px) and (min-width: 1201px) {
    section, nav, hr.nav-hr {
        width: 80%;
    }
}
@media only screen and (max-width: 1000px) {
    .button {
        display: block;
        margin: 15px 0;
    }
    .vert-align-flex {
        text-align: center;
    }
    h2 {
        text-align: center;
    }
}
@media only screen and (max-width: 500px) {
    .flex {
        flex-direction: column;
        align-items: center;
    }
    .metric-num {
        display: inline;
    }
}
@media only screen and (max-width: 1200px) and (min-width: 50px) {
    section, nav, hr.nav-hr {
        width: 90%;
    }
}

/*============ HEADER ===========*/
header {
    position: fixed;
    background-color: #fff;
    align-content: center;
    top: 0px;
    height: 10vh;
    width: 100%;
    z-index: 5;
}
nav {
    margin: 0 auto;
    padding-bottom: 10px;
}
.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
}
.logo {
    font-family: "the-seasons", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5rem;
}
.menu {display: flex;}
.menu li a {
    margin: 0px 5px;
}
.menu i {
    font-size: 2rem;
}
.mobile-only {
    display: none;
}
.open-menu, .close-menu {
    position: absolute;
    cursor: pointer;
    display: none;
}
.open-menu i, .close-menu i {
    font-size: 1.5rem;
}
.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.close-menu {
    top: 20px;
    right: 20px;
}
#check {display: none;}
@media (max-width: 700px) {
    .menu {
        flex-direction: column;
        text-align: right;
        align-items:right;
        justify-content:center;
        width: 80%;
        height: 100%;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: #1f0f03;
        color: #fff;
        transition: all .2s ease-in-out;
    }
    .mobile-only {display: block;}
    .menu li {margin-top: 60px;}
    .menu li a {
        color: #fff!important;
        text-align: right;
    }
    .open-menu, .close-menu {display: block;}
    /*#check:checked ~ .menu {right: 0;}*/
}
/*============ ABOUT ME HERO ==============*/
.hero-flexbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 60px;
}
.profile-pic {
    max-width: 425px;
    max-height: 425px;
    border-radius: 50px;
    text-align: center;
}
.signature {
    width: 300px;
}
.type-container {
    font-size: 4rem;
    font-family: "the-seasons", sans-serif;
    letter-spacing: 0.4rem;
    line-height: 3.5rem;
    text-transform: uppercase;
    font-weight: 600;
    margin: 20px 0px;
    color: #80b467;
}
.typed-cursor {
    color: #9dca87;
    padding-left: 5px;
}
.intro-subhead {
    font-family: "the-seasons", sans-serif;
    color:#80b467; 
    font-size: 1.8rem; 
    font-weight: 800; 
    margin-top: -15px;
    margin-bottom: 10px;
}
.intro-txt {
    margin-bottom: 30px;
}
.down-arrow {
    font-size: 2rem;
    text-align: center;
}
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
}
.bounce {
    animation: bounce 1s 10 7s;
}

/* ABOUT SECTION MEDIA QUERIES */
@media only screen and (max-width: 1000px) {
    .hero-flexbox {
        flex-direction: column;
        text-align: center;
        margin: 40px 0px;
    }
    .signature {
        align-self: center;
    }
    .profile-pic {
        max-width: 250px;
        max-height: 250px;
    }
    .signature {
        width: 220px;
    }
    .type-container {
        text-align: center;
    }
    .intro-subhead {
        font-size: 2rem;
    }
    i.down-arrow {
        display: none;
    }
}
@media only screen and (max-width: 500px) {
    .type-container {
        font-size: 2.15rem;
        line-height: 1.5rem;
    }
    .intro-subhead {
        font-size: 1.5rem;
    }
}
/*============= RECENT WORK ===============*/
.recent-work-section {
    padding: 60px 0px;
}
.homepage-h2 {
    font-family: "the-seasons", sans-serif;
    font-weight: 500;
    font-size: 3.8rem; 
    line-height: 4.8rem;
    padding-bottom: 40px;
    text-transform: none;
}
.metric-num {
    font-size: 1.5rem; 
    text-align: left; 
    margin-bottom: -5px;
}
.metric-txt {
    text-align: left;
}
.proj-grid {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 30px;
}
.proj-img-div {
    background-size: cover;
    background-color: rgba(231, 219, 214, 0.1);
    border-radius: 40px;
    width: 100%;
    padding-bottom: 40%;
    min-height: 225px;
}
.flex-box-proj {
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    padding: 30px;
    width: 100%;
    margin-bottom: 30px;
    color: #1f0f03;
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    box-shadow: rgba(31, 15, 3, 0.2) 0px 8px 24px;
    cursor: pointer;
}
.flex-box-proj h3 {
    margin-top: 20px;
}
.flex-box-proj p {
    margin-top: 10px;
}
.flex-box-proj:hover{
    transform: scale(1.04);
    transition: all 300ms ease;
}
@media only screen and (max-width: 600px) {
    .flex-box-proj {
        padding: 20px;
    }
    .metric-txt {
        font-size: 0.9rem;
    }
    .homepage-h2 {
        font-size: 4rem;
        line-height: 3.8rem;
    }
}
.artist-portfolio-img {
    background-image: url(./images/artist-portfolio-cover.jpg);
    background-position: center;
}
.travel-client-img {
    background-image: url(./images/travel-client-cover.jpg);
    background-position: center;
}
.developer-portfolio-img {
    background-image: url(./images/dev-port-cover.jpg);
    background-position: center;
}
.mold-client-img {
    background-image: url(./images/service-client-mobile-cover.jpg);
    background-position: bottom center;
}
.hhf-client-img {
    background-image: url(./images/hhf-device-cover.jpg);
    background-position: bottom center;
}
.seo-img {
    background-image: url(./images/seo-locale.jpg);
    background-position: center;
}
.wvu-img {
    background-image: url(./images/wvu.jpg);
    background-position: center;
}
.enfusion-img {
    background-image: url(./images/enfusion.jpg);
    background-position: center;
}
.ahm-img {
    background-image: url(./images/ahm-digital.jpg);
    background-position: center;
}
.proj-desc {
    margin-bottom: 40px;
    display: none;
}
.mobile-proj {
    display: none;
}
@media screen and (max-width: 1395px) {
    .proj-img-div {
        width: 100%;
    }
}
@media only screen and (max-width: 845px) {
    .proj-desc {
        margin-right: 20px;
    }
    .proj-grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 0px;
    }
    .mobile-proj {
        display: block;
    }
}
/*======== MY SKILLS ==========*/
#skills {
    margin-top: 60px;
}
.skills-slider {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.skills-slider i {
    margin: 5rem;
    text-align: center;
    color: #1f0f03;
}
@media only screen and (max-width: 1000px) {
    .skills-slider i {
        margin: 2.2rem;
    }
}
@media only screen and (max-width: 325px) {
    .skills-slider i {
        margin: 1.6rem;
    }
}
.skills-text {
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
    margin-top: 1rem;
    font-family: montserrat, sans-serif;
    color: #1f0f03;
}
/*============== CONTACT =================*/
.contact-title {
    margin-top: 50px;
    margin-bottom: 30px;
}
.contact-box {
    border-radius: 50px;
    padding: 30px;
    min-height: 300px;
    align-content: center;
    width: 100%;
    margin: 10px;
}
.contact {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    margin-bottom: 50px;
    scroll-margin-top: 390px; 
}
.second-contact {
    margin-top: 80px;
}
.email {
    margin: 15px 0px;
}
@media only screen and (max-width: 845px) {
    .contact {
        flex-wrap: wrap;
    }
    .contact-box {
        padding: 30px 15px 50px 15px;
    }
}
@media only screen and (min-width: 1001px) {
    
}
.fa-linkedin {
    margin-right: 20px;
}
a > i {
    transition: transform .2s;
}
a > i:hover {
    transform: scale(1.2);
}
.icon-container {
    display: flex;
    justify-content: center;
}
@media only screen and (max-width: 375px) {
    #email-btn {
        margin: 0px 0px 150px 0px;
    }
}
/*============= FOOTER =============*/
/*#contact {
    background-color: #1f0f03;
    color: #fff;
}*/
.footer-text {
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: end;
}
#copyright {
    text-align: left;
}
.sitemap-list {
    margin-left: 20px;
}




/*============ FLIP BOX =============*/
.flip-box {
    background-color: transparent;
    width: 425px;
    height: 425px;
    perspective: 1000px; 
    margin: 0px;
}
.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}
.flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    border-radius: 50px;
}
.flip-box-front {
    background-color: #bbb;
    color: black;
    background-image: url(./images/headshot-overlay.jpg);
    background-size: cover;
}
.flip-box-back {
    background-color: #e7dbd6;
    color: #1f0f03;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: start;
    text-align: left;
    padding: 30px;
}
.flip-box-back p {
    font-family: "the-seasons", sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
}
@media only screen and (max-width: 1000px) {
    .flip-box {
        width: 275px;
        height: 275px;
    }
    .flip-box-back p {
        font-size: 1.3rem;
    }
}
/*============== ABOUT PAGE =============*/
.about-title {
    font-size: 4rem;
    line-height: 4rem;
    margin-bottom: 20px;
}
.about-content {
    padding: 50px 0px;
}
.about-img-top {
    border-radius: 50px 50px 0px 0px;
    margin-bottom: -8px;
}
.photo-caption {
    color: #fff;
    background-color: #1f0f03;
    padding: 10px;
    text-align: center;
}
.email-cta {
    padding-top: 20px;
    padding-bottom: 100px;
}
.vert-center-tb {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}
@media only screen and (max-width: 1000px) {
    .vert-center-tb {
        flex-direction: row;
    }
}
/*=========== LIGHTBOX ==============*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 10vh;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}
  
/* Modal Content */
.modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 80%;
    max-width: 1200px;
}

.light-box-img {
    width: 100%;
    margin-bottom: 100px;
}


  
  /* The Close Button */
  .close {
    color: #fff;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Hide the slides by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 20px;
    margin: 5px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 50%;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right*/
  .next {
    right: 0;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: gray;
    font-size: 14px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

@media only screen and (max-width: 800px) {
    .prev, .next {
        font-size: 14px;
        padding: 8px;
    }
    .numbertext {
        font-size: 8px;
    }
}
@media only screen and (min-width: 700px) {
    img.hover-shadow {
        transition: 0.3s;
        cursor: pointer;
      }
      
    .hover-shadow:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}
