/*============ UNIVERSIAL & RESUSABLE STYLES ===========*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.theme-default {
    background-color: #fff;
    color: #000;
}
.theme-default-opposite {
    background-color: #000;
    color: #fff;
}
body {
    margin: 0 auto;
    margin-top: 10vh;
    font-size: 18px;
    font-family: Avenir, sans-serif;
    overflow-x: hidden;
}
h1 {
    text-transform: uppercase;
    font-family: "Red Hat Display", sans-serif;
}
h2 {
    text-transform: uppercase;
    font-size: 1.8rem;
    font-family: "Red Hat Display", sans-serif;
    font-weight: 600;
}
h3 {
    text-transform: uppercase;
    margin-bottom: 30px;
    font-family: "Red Hat Display", sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
}
.center {
    text-align: center;
}
section {
    margin: 0 auto;
}
@media only screen and (min-width: 1451px) {
    section, nav, hr.nav-hr {
        width: 70%;
    }
}
@media screen and (max-width: 1450px) and (min-width: 1201px) {
    section, nav, hr.nav-hr {
        width: 80%;
    }
}
@media only screen and (max-width: 1200px) and (min-width: 50px) {
    section, nav, hr.nav-hr {
        width: 90%;
    }
}
hr.solid {
    border: 0.5px solid;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
}
i {
    font-size: 4rem;
}
button {
    font-family: "Red Hat Display", sans-serif;
    font-weight: 400;
}
button:hover {
    cursor: pointer;
}
.button {
    font-family: "Red Hat Display", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    border: 1px solid #80b467;
    background-color: #80b467;
    border-radius: 50px;
    padding: 0.7rem 2rem;
    font-size: 18px;
    text-align: center;
    display: inline;
    transition: all .2s;
}
@media only screen and (max-width: 1000px) {
    .button {
        display: block;
        margin: 15px 0;
    }
    button {
        width: 100%;
    }
}
.button:hover {
    font-size: 1.2rem;
}
a.theme-default {
    border: 1px solid #000;
    color:#000;
    background-color: hsla(0, 0%, 100%, 0);
}
.btn-container {
    height: 50px;
    position: relative;
}
.center-btn {
    width: 100%;
    position: absolute;
}
a {
    text-decoration: none;
    color: #000;
}
.list li {
    margin-left: 2rem;
    list-style-type: lower-roman;
}
.indent {
    margin-left: 20px;
}
.full-height {
    min-height: 90vh;
}
.vert-center {
    display: grid;
    place-items: center;
}
.fh-center {
    align: center;
}
#contact, #recent-work {
    scroll-margin-top: 10vh;
}
/*============ HEADER ===========*/
header {
    position: fixed;
    background-color: #fff;
    align-content: center;
    top: 0px;
    height: 10vh;
    width: 100%;
    z-index: 5;
}
@media only screen and (min-device-width: 400px) 
                   and (max-device-width: 800px) 
                   and (orientation: landscape) {
                    header {
                        position: relative;
                    }
                    body {
                        margin-top: 0px;
                    }
                   }
nav {
    margin: 0 auto;
    padding-bottom: 10px;
}
.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
}
hr.nav-hr {
    border: 0.5px solid;
    margin: 0 auto;
}
.logo {
    font-family: "Red Hat Display", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 12px 0px;
}
.menu {display: flex;}
.menu li a {
    font-family: "Red Hat Display", sans-serif;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    transition: 0.15s ease-in-out;
    text-transform: uppercase;
    font-weight: 400;
    padding: 10px 20px;
    margin: 0px 5px;
}
.menu li a:hover {
    border: 1px solid #000;
    border-radius: 50px;
}
.menu i {
    font-size: 2rem;
}
.mobile-only {
    display: none;
}
.open-menu, .close-menu {
    position: absolute;
    cursor: pointer;
    display: none;
}
.open-menu i, .close-menu i {font-size: 1.5rem;}
.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.close-menu {
    top: 20px;
    right: 20px;
}
#check {display: none;}
@media (max-width: 700px) {
    .menu {
        flex-direction: column;
        text-align: right;
        align-items:right;
        justify-content:center;
        width: 80%;
        height: 100%;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: #000;
        color: #fff;
        transition: all .2s ease-in-out;
    }
    .menu li a:hover {
        border: 1px solid #fff;
        border-radius: 50px;
        padding: 10px 20px;
    }
    .mobile-only {display: block;}
    .menu li {margin-top: 60px;}
    .menu li a {color: #fff;}
    .open-menu, .close-menu {display: block;}
    /*#check:checked ~ .menu {right: 0;}*/
}
/*============ ABOUT ME HERO ==============*/
.hero-flexbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 30px;
    margin-top: 60px;
}
.profile-pic {
    max-width: 425px;
    max-height: 425px;
    border-radius: 50px;
}
/*
.first{
    padding: 60px 0px;
 }*/
.signature {
    width: 300px;
}
.type-container {
    font-size: 4rem;
    font-family: "Red Hat Display", sans-serif;
    letter-spacing: 0.4rem;
    line-height: 3.5rem;
    text-transform: uppercase;
    font-weight: 600;
    margin: 20px 0px;
    color: #80b467;
}
.typed-cursor {
    color: #9dca87;
    padding-left: 5px;
}
.intro-subhead {
    font-family: "Red Hat Display", sans-serif;
    color:#80b467; 
    font-size: 1.5rem; 
    font-weight: 700; 
    margin-top: -10px;
}
.down-arrow {
    font-size: 2rem;
    text-align: center;
}
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
}
.bounce {
    animation: bounce 1s 10 7s;
}

/* ABOUT SECTION MEDIA QUERIES */
@media only screen and (max-width: 1000px) {
    .hero-flexbox {
        flex-direction: column;
        text-align: center;
        margin: 40px 0px;
    }
    .profile-pic {
        max-width: 250px;
        max-height: 250px;
    }
    .signature {
        width: 220px;
    }
    .type-container {
        font-size: 2.1rem;
        line-height: 1.5rem;
    }
    .intro-subhead {
        font-size: 1.2rem;
    }
    i.down-arrow {
        display: none;
    }
}
/*============= RECENT WORK ===============*/
#recent-work {
    width: 100%;
}
@media only screen and (min-width: 1396px) {
    #recent-work {
        padding: 60px 15%;
    }
}
@media screen and (max-width: 1395px) and (min-width: 951px) {
    #recent-work {
        padding: 60px 10%;
    }
}
@media only screen and (max-width: 950px) and (min-width: 50px) {
    #recent-work {
        padding: 60px 5%;
    }
}
.recent-work-title {
    text-align: center;
    padding-bottom: 60px;
}
.proj-img-div {
    background-size: cover;
    background-position: center;
    border-radius: 50px;
    height: 250px;
    min-width: 250px;
}
.flex-box-proj {
    /*display: flex;*/
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    min-height: 350px;
    padding: 50px;
    width: 100%;
    margin-bottom: 40px;
    color: #000;
    background-color: #fff;
}
iframe {
    aspect-ratio: 16 / 9;
    width: 100% !important;
}
.flex-box-proj h3 {
    margin-top: 20px;
}
@media only screen and (max-width: 600px) {
    .flex-box-proj {
        padding: 15px;
    }
}
.artist-portfolio-img {
    background-image: url(./images/artist-portfolio-site.jpg);
}
.travel-client-img {
    background-image: url(./images/cosmos.jpg);
}
.color-picker-img {
    background-image: url(./images/website-theme-changer.jpg);
    background-position: left;
}
.developer-portfolio-img {
    background-image: url(./images/dev-portfolio.jpg);
    background-position: center;
    border: .25px solid #000;
}
.mold-client-img {
    background-image: url(./images/safer-home-services.png);
    background-position: top center;
}
.event-client-img {
    background-image: url(./images/event-client.jpg);
    background-position: top;
}
.proj-desc {
    margin-bottom: 40px;
}
.specifications {
    margin-top: 40px;
    font-family: 'Courier New', Courier, monospace;
}
@media screen and (max-width: 1395px) {
    .proj-img-div {
        width: 100%;
    }
    .specifications {
        margin-bottom: 20px;
    }
}
@media only screen and (min-width: 845px) {
    .proj-desc {
        margin-right: 20px;
    }
    .specifications {
        margin-right: 20px;
    }
}
/*======== MY SKILLS ==========*/
#skills {
    margin-top: 60px;
}
.skills {
    overflow-wrap: normal;
}
.skills-slider{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.skills-slider i {
    margin: 3rem;
    text-align: center;
}
@media only screen and (max-width: 1000px) {
    .skills-slider i {
        margin: 2rem;
    }
}
.skills-text {
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
    margin-top: 1rem;
    font-family: Avenir, sans-serif;
}
/*============== CONTACT =================*/
.contact-title {
    margin-top: 50px;
    margin-bottom: 30px;
}
.contact-box {
    border: 2px solid;
    border-radius: 50px;
    padding: 30px;
    min-height: 300px;
    align-content: center;
    width: 100%;
    margin: 10px;
}
.contact {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    margin-bottom: 50px;
    scroll-margin-top: 390px; 
}
@media only screen and (max-width: 845px) {
    .contact {
        flex-wrap: wrap;
    }
    .contact-box {
        padding: 30px 15px 50px 15px;
    }
    .second-contact {
        margin-top: 50px;
    }
}
@media only screen and (min-width: 845px) {
    .second-contact {
        margin-top: 50px;
    }
}
.fa-linkedin {
    margin-right: 20px;
}
a > i {
    transition: transform .2s;
}
a > i:hover {
    transform: scale(1.2);
}
.icon-container {
    display: flex;
    justify-content: center;
}
@media only screen and (max-width: 375px) {
    #email-btn {
        margin: 0px 0px 150px 0px;
    }
}
/*============= FOOTER =============*/
footer {
    margin: 20px 0px;
    font-family: "Red Hat Display", sans-serif;
}
.footer-text {
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.sitemap-list {
    margin-left: 20px;
}


/*======== POP UP ========
.popup{
    background: #fff;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    border: 2px solid #000;
    text-align: center;
    padding: 50px;
    display: none;
    margin-top: 40px;
    z-index: 5;
}
.open-popup{
    display: block;
}
.popup-close {
    border: 1px solid #000;
    border-radius: 50px;
    padding: 5px 12px;
    background-color: #fff;
    color: #000;
    margin-bottom: 20px;
    float: right;
    width: 2rem;
}
@media only screen and (max-width: 550px) {
    .popup {
        padding: 20px;
    }
}
*/